<!DOCTYPE html>
<html ng-app='tttApp'>
 <head>
 	<meta charset="utf-8">
 	<title>Tic Tac Toe</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/main.js"></script>
    <script src="js/TController.js"></script>
 </head>
    <body>
    <div ng-controller="TController as vm">
        <div class="scoreboard">
            <h1>Tic Tac Toe<h1> 
            <h2>Player: {{ vm.player }}</h2>
        </div>
    	<div class="gameboard">
    		
    		<div>
    			<div>
    				<div class="square" ng-click="vm.click(0,0)">
                        <div class="xpiece" ng-show="vm.game.board[0][0] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[0][0] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    		 		<div class="square" ng-click="vm.click(0,1)">
                        <div class="xpiece" ng-show="vm.game.board[0][1] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[0][1] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    				<div class="square" ng-click="vm.click(0,2)">
                        <div class="xpiece" ng-show="vm.game.board[0][2] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[0][2] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    			</div> 
    			<div> 
    				<div class="square" ng-click="vm.click(1,0)">
                        <div class="xpiece" ng-show="vm.game.board[1][0] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[1][0] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    				<div class="square" ng-click="vm.click(1,1)">
                        <div class="xpiece" ng-show="vm.game.board[1][1] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[1][1] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    				<div class="square" ng-click="vm.click(1,2)">
                        <div class="xpiece" ng-show="vm.game.board[1][2] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[1][2] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    			</div> 
    			<div> 
    				<div class="square" ng-click="vm.click(2,0)">
                        <div class="xpiece" ng-show="vm.game.board[2][0] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[2][0] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    				<div class="square" ng-click="vm.click(2,1)">
                        <div class="xpiece" ng-show="vm.game.board[2][1] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[2][1] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    				<div class="square" ng-click="vm.click(2,2)">
                        <div class="xpiece" ng-show="vm.game.board[2][2] === 'X'"><i class="fa fa-times fa-5x centerboth"></i></div>
                        <div class="opiece" ng-show="vm.game.board[2][2] === 'O'"><i class="fa fa-circle-o fa-4x centerboth"></i></div>
                    </div>
    			</div>
    		</div>

            <div class="gameOverDisplay" ng-show="vm.game.winner !=''">
                <div class="replayScreen" ng-show="vm.game.winner !=''">
                    <p>
                        <span ng-show="vm.game.winner == 'X'">Player 1 Wins!</span>
                        <span ng-show="vm.game.winner == 'O'">Player 2 Wins!</span>
                    </p>
                    <button ng-click="vm.newGame()" ng-hide="gameOverDisplay">Play Again</button>
                </div>
            </div>

            <div class="gameOverDisplay" ng-show="vm.game.winner == 'tie'">
                <div class="replayScreen" ng-show="vm.game.winner == 'tie'">
                    <p ng-show="vm.game.winner == 'tie'">Cats Game - You Tie!</p>
                    <button ng-click="vm.newGame()" ng-hide="gameOverDisplay">Play Again!</button>
                </div>
            </div>

        </div>
    </div>

  </body>
</html>