<!DOCTYPE html>
<html ng-app='tttApp'>
 <head>
 	<meta charset="utf-8">
 	<title>Tic Tac Toe</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/main.js"></script>
    <script src="js/TController.js"></script>
 </head>
    <body>
    <div ng-controller="TController as vm">
    	<div class="gameboard">
    		<h1>Tic Tac Toe<h1> 
            <h2>You are player: {{ vm.player }}</h2>
    		<div>
    			<div>
    				<div class="square" ng-click="vm.click(0)">{{vm.game.board[0]}}</div>
    		 		<div class="square" ng-click="vm.click(1)">{{vm.game.board[1]}}</div>
    				<div class="square" ng-click="vm.click(2)">{{vm.game.board[2]}}</div>
    			</div> 
    			<div> 
    				<div class="square" ng-click="vm.click(3)">{{vm.game.board[3]}}</div>
    				<div class="square" ng-click="vm.click(4)">{{vm.game.board[4]}}</div>
    				<div class="square" ng-click="vm.click(5)">{{vm.game.board[5]}}</div>
    			</div> 
    			<div> 
    				<div class="square" ng-click="vm.click(6)">{{vm.game.board[6]}}</div>
    				<div class="square" ng-click="vm.click(7)">{{vm.game.board[7]}}</div>
    				<div class="square" ng-click="vm.click(8)">{{vm.game.board[8]}}</div>
    			</div>
    		</div>
            <p ng-show="game.winner == 'X'">Player 1 wins!</p>
            <p ng-show="game.winner == 'O'">Player 2 wins!</p>
            <p ng-show="game.winner == 'tie'">It's a tie!</p>
    	</div>


    </div>
  </body>
</html>